/* Project Bank CSS */
/* Google fonts import */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset padding and margins */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #24313D;
}

header {
    width: 100%;
    background-color: #18242E;
    top: 0;
	height: 100px;
    color: #E3E8EB;
}

#logo {
    float: left;
    width: 5%;
    height: 100%;
    margin-left: 5%;
    display: flex;
}
#logo img {
    justify-content: center;
    height: 100%;
    width: 100%;
}

.mainNav {
    display: flex;
    float: right;
    height: 25px;
    width: 30%;
    margin-right: 5%;
    margin-top: 2%;
    justify-content: center

}
.mainNav ul {
    display:inline-flex;
    justify-content: center;
    color: #E3E8EB;
    list-style: none;
    width: 100%;
}
.mainNav a {
    text-align: center;
    color: #E3E8EB;
    width: 100%;
    text-decoration: none;
}
.mainNav a:hover {
    border-bottom: 1px solid #E6494D;
}

/* Styling for the 1st, 2nd, 3rd item in the fontActive list */
#fontActive {
    color: #E3E8EB;
    display:inline-flex;
    justify-content: flex-end;
    color: #E3E8EB;
    list-style: none;
    width: 100%;
    height: 22%;
    padding-top: 1%;
}
#fontActive button {
    width: 1%;
}
#smaller {
    font-size: smaller;
    margin-right: 0.5%;
}
#medium {
    font-size:medium;
    margin-right: 0.5%;
}
#larger {
    font-size: larger;
    margin-right: 1%;
}

/* Styling for main content section */

.content {
    height: 900px;
    color: #E3E8EB;
    padding-left: 25%;
    padding-right: 25%;
}


/* Styling for static footer section */
footer {
    background-color: #18242E;
    height:500px;
    color: #E3E8EB;
    padding-left: 20%;
    padding-right: 20%;
}
#siteMap {
    width: 100%;
    height: 250px;
}
#siteMap table {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
}
#siteMap a {
    text-decoration: none;
    color: aqua;
}
#mediaLinks {
    float: right;
    height: 50px;
    width: 250px;
}
#mediaLinks ul {
    list-style: none;
    display: inline-flex;
}
#mediaLinks img {
    height: 50px;
    width: 50px;
}


/* This section is the styling for the Homepage or 'Default.aspx */

.hero {
    width: 100%;
    height: 400px;
    text-align: center;
}
.hero table {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
    width: 100%;
    height: 40%;
}
.hero img {
    height: 100px;
    width: 100px;
}
.hero h1, h4 {
    margin-top: 5%;
}
.services {
    width: 100%;
    height: 400px;
    padding-top: 50px;
    display: flex;
}
.serviceSection {
    display: inline-block;
    width: 33.33%;

    justify-content: center;
}
.serviceSection table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: 1px solid #dedede;
}
.serviceSection img {
    width: 50px;
    height: 50px;
}
#lastTableBorder table {
    border-right: none;
}




/***

    This section is ther styling for the StaffManagement.aspx Page

***/

.container {
    width: 100%;
    height: 70%;
    margin-top: 1%;
    display: inline-flex;
    justify-content:space-between;
}

.return {
    width: 50px;
    height: 30px;
    float: left;
    margin-top: 2%;
}
.return p, span {
    font-size:100%;
    line-height: 10px;
    color: #E6494D;
}

.Options {
    display: flex;
    flex-direction:column;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 15%;
    margin-left: 2%;
    
}
.Options a {
    height: 10%;
    background-color:#18242E;
    text-align: center;
    line-height: 50px;
    border: 1px solid #E6494D;
    width: 100%;
    color: #dedede;
    text-decoration: none;
}
.Options button, select, input {
    height: 30px;
    margin-top: 5%;
}

.StaffList {
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tableHead {
    font-size: larger;
    font-weight: 200;
    height: 50px;
    color: #E6494D;
    text-align: center;
}
.StaffList td {
    width: 5%;
    border-bottom: 1px solid #dedede;
    height: 30px;
}
.StaffList tr:hover {
    color: #E6494D;
}

.allStaff {
    text-align: center;
}
.FuzSearch {
    height: 20px;
    width: 60px;
}

/* This section is for the AddStaff.aspx page */

.AddForm {
    float: left;
    width: 35%;
    padding-top: 10%;
}
.AddForm input {
    width: 50%;
}
#selectPosition {
    width: 50%;
}
#AddStaffID {
    width: 20%;
    text-align: center;
}

.AddResults {
    float: right;
    width: 65%;
    padding-top: 10%;
}
.AddResultsTable {
    width: 100%;
    justify-content: center;
    text-align: center;
}
.AddResultsTable td {
    border-bottom: 1px solid #dedede;
    height: 30px;
}